<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/menu :: head}"></th:block>
    <th:block th:insert="~{/fragments/menu :: link}"></th:block>
    <title>Debts List</title>
</head>
<body>
<div class="container">
    <div th:block th:insert="~{/fragments/menu :: menu}"></div>
    <div class="panel-default">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Debts List</h1>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>NOME</th>
                        <th>EMPRESA</th>
                        <th>VALOR</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="debt:${debts}">
                        <td th:text="${debt.borrowerName}"></td>
                        <td th:text="${debt.companyFantasyName}"></td>
                        <td th:text="${debt.debtValue}"></td>
                        <td>
<!--                            <div class="btn-group pull-right">-->
<!--                                <a class="btn btn-sm btn-primary" th:href="@{/aluno/alterar/{idAluno}(idAluno=${aluno.id})}">ALTERAR</a>-->
<!--                                <a class="delete btn btn-sm btn-danger" th:href="@{/aluno/excluir/{idAluno}(idAluno=${aluno.id})}">EXCLUIR</a>-->
<!--                            </div>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
<!--    <a class="btn btn-sm btn-success" th:href="@{/aluno/cadastrar}">CADASTRAR NOVO ALUNO</a>-->
    <th:block th:insert="~{/fragments/footer :: footer}"></th:block>
</div>



</body>
</html>