<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu :: header">
</head>
<body>

<footer id="footer" th:fragment="footer">
    <div class="container">
    <div class="row">
        <div>
            <ul class="list-unstyled">
                <li><a href="https://github.com/bgvit">GitHub</a></li>
            </ul>
            <p>Personalizado por <a href="https://thomaspark.co">Thomas Park</a> e utilizado por Bernardo Vitor.</p>
        </div>
    </div>
    </div>
</footer>

</body>
</html>