<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/menu :: head}"></th:block>
    <th:block th:insert="~{/fragments/menu :: link}"></th:block>
    <title>Debts List</title>
</head>
<body>
<div class="container">
    <div th:block th:insert="~{/fragments/menu :: menu}"></div>
    <div class="panel-default">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Tipo de Pagamento</h1>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>DESCRIÇÃO</th>
                        <th>TIPO DO VALOR</th>
                        <th>VALOR</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="paymentType:${company.paymentTypesDTO}">
                        <td th:text="${paymentType.description}"></td>
                        <td th:text="${paymentType.type}"></td>
                        <td th:text="${paymentType.value}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!--    <a class="btn btn-sm btn-success" th:href="@{/aluno/cadastrar}">CADASTRAR NOVO ALUNO</a>-->
    <th:block th:insert="~{/fragments/footer :: footer}"></th:block>
</div>